@(productForm: Form[Product], ean: Option[Long] = None)(implicit flash: Flash, lang: Lang, messages: Messages, request: RequestHeader)
@import helper._

@main(messages("product.regist")) {

  <h2>
    @messages("product.regist")
  </h2>

  @helper.form(action = ean.map(routes.Products.update(_)).getOrElse(routes.Products.save())){
    <fieldset>
      <legend>
        registration
      </legend>
      @helper.CSRF.formField
      @helper.inputText(productForm("ean"))
      @helper.inputText(productForm("name"))
      @helper.inputText(productForm("description"))
    </fieldset>
    <p>
      <input type="submit" value='@ean.map(_=>messages("products.edit.submit")).getOrElse(messages("products.new.submit"))'>
    </p>
  }


}
